
<h3>Post Form:</h3>

<%= form_for @post do |f| %>
  <label>Post Title: </label>
  <%= f.text_field :title %> <br>

  <label>Post Content: </label>
  <%= f.text_area :content, size: "30x10" %> <br>

  <label>Select Categories: </label>
  <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %> <br>
  <label>Create Category: </label>
  <%= f.fields_for :categories, post.categories.build do |categories_fields| %>
    <%= categories_fields.text_field :name %>
  <% end %>

  <%= f.submit %>
<% end %>